@font-face {
  font-family: 'MainFont';
  src: url("../fonts/mainframe-bb.regular.ttf");
}

/*-------------------------------------------BACKUP FORM---------------------------------------*/
/* line 8, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
.formDefaultStyle {
  background: #19BAEE;
  color: black;
  border: 0;
  font-family: "Orbitron";
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: .125rem;
}

@media screen and (max-width: 550px) {
  /* line 8, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
  .formDefaultStyle {
    font-size: 1.8em;
  }
}

/* line 21, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
.contact-button {
  order: -1;
  margin-bottom: 1em;
  line-height: 3em;
}

/* line 25, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
.contact-button span {
  font-family: MainFont;
}

/* line 28, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60vw;
  margin: 3em auto;
  text-align: center;
  border-color: #19BAEE;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 550px) {
  /* line 28, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
  form {
    width: 95vw;
  }
}

/* line 46, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
form input,
form textarea,
form button {
  display: block;
  width: calc(100% - 4em);
  margin: .2em 1em;
  border: 1px solid grey;
  padding: 2px 1em;
  font-size: 1.2em;
  line-height: 2.5em;
  font-family: "Orbitron";
}

/* line 59, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
form textarea {
  height: 7rem;
}

/* line 60, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
form input[type='submit'] {
  margin: 1em auto;
  border-radius: 5px;
  line-height: 2em;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 550px) {
  /* line 60, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
  form input[type='submit'] {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  /* line 60, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
  form input[type='submit'] {
    font-size: 1.2em;
  }
}

/* line 70, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
#SubmitingDelay {
  display: none;
  position: relative;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.5);
  margin: 15% 6em;
  padding: 1em;
}

/* line 77, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
#SubmitingDelay .text span {
  font-size: 4em;
}

/* line 79, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
#SubmitingDelay .spinner {
  width: 150px;
  height: 75px;
  position: absolute;
  left: calc(50% - 75px);
  top: 1em;
}

/* line 86, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
#SubmitingDelay .spinner > div {
  background-color: #333;
  height: 100%;
  width: 15px;
  display: inline-block;
  animation: stretchdelay 1.7s infinite ease-in-out;
}

/* line 95, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
#SubmitingDelay .spinner .rect2 {
  -webkit-animation-delay: -1.6s;
  -moz-animation-delay: -1.6s;
  -ms-animation-delay: -1.6s;
  -o-animation-delay: -1.6s;
  animation-delay: -1.6s;
}

/* line 96, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
#SubmitingDelay .spinner .rect3 {
  -webkit-animation-delay: -1.5s;
  -moz-animation-delay: -1.5s;
  -ms-animation-delay: -1.5s;
  -o-animation-delay: -1.5s;
  animation-delay: -1.5s;
}

/* line 97, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
#SubmitingDelay .spinner .rect4 {
  -webkit-animation-delay: -1.4s;
  -moz-animation-delay: -1.4s;
  -ms-animation-delay: -1.4s;
  -o-animation-delay: -1.4s;
  animation-delay: -1.4s;
}

/* line 98, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
#SubmitingDelay .spinner .rect5 {
  -webkit-animation-delay: -1.3s;
  -moz-animation-delay: -1.3s;
  -ms-animation-delay: -1.3s;
  -o-animation-delay: -1.3s;
  animation-delay: -1.3s;
}

/* line 99, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
#SubmitingDelay .spinner .rect6 {
  -webkit-animation-delay: -1.2s;
  -moz-animation-delay: -1.2s;
  -ms-animation-delay: -1.2s;
  -o-animation-delay: -1.2s;
  animation-delay: -1.2s;
}

/* line 100, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
#SubmitingDelay .spinner .rect7 {
  -webkit-animation-delay: -1.1s;
  -moz-animation-delay: -1.1s;
  -ms-animation-delay: -1.1s;
  -o-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

/* line 101, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
#SubmitingDelay .spinner .rect8 {
  -webkit-animation-delay: -1.0s;
  -moz-animation-delay: -1.0s;
  -ms-animation-delay: -1.0s;
  -o-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

/* line 102, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
#SubmitingDelay .spinner .rect9 {
  -webkit-animation-delay: -0.9s;
  -moz-animation-delay: -0.9s;
  -ms-animation-delay: -0.9s;
  -o-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

/* line 103, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
#SubmitingDelay .spinner .rect10 {
  -webkit-animation-delay: -0.8s;
  -moz-animation-delay: -0.8s;
  -ms-animation-delay: -0.8s;
  -o-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}

/* line 112, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
form div.error {
  margin: .5em 1em;
  padding: .5em 0;
}

/* line 115, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
form div.error p {
  display: inline-block;
  text-align: left;
  font-family: "Raleway";
}

/* line 121, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
form label {
  text-align: left;
}

/* line 123, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
form label span.label-text {
  position: relative;
  top: -81px;
  left: 8px;
  font-family: MainFont;
}

/* line 130, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
form label:last-of-type span.label-text {
  top: -143px;
}

/* line 135, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
form .nav-dot p {
  transition: all 1s;
  position: absolute;
  top: 1px;
  right: -100px;
  width: 200px;
  text-align: right;
  font-size: .8rem;
  opacity: 0;
}

/* line 147, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
form .validation-master {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 10px;
  width: 60px;
  margin-top: -65px;
  transition: all 1s ease;
}

/* line 148, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
form .validation-master * {
  box-sizing: border-box;
}

/* line 158, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
form label[for="input-4"] .validation-master {
  margin-top: -126px;
}

/* line 160, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
form .boxA {
  background: transparent;
  display: inline-block;
  transition: all 1s;
  -webkit-transform: scaleX(1.5) rotate(45deg);
  -moz-transform: scaleX(1.5) rotate(45deg);
  -ms-transform: scaleX(1.5) rotate(45deg);
  -o-transform: scaleX(1.5) rotate(45deg);
  transform: scaleX(1.5) rotate(45deg);
  border-width: 0 0 2px 2px;
  border-color: black;
  border-style: solid;
  position: relative;
  left: 20px;
  width: 15px;
  height: 15px;
}

/* line 173, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
form .boxC {
  background-color: #19BAEE;
  display: inline-block;
  position: relative;
  left: 10px;
  width: 6px;
  height: 6px;
  border-radius: 4px;
  margin: 4.5px 0;
  transition: all 0.3s;
}

/* line 184, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
form .boxB {
  display: inline-block;
  background: transparent;
  position: relative;
  right: 0;
  -webkit-transform: scaleX(1.5) rotate(45deg);
  -moz-transform: scaleX(1.5) rotate(45deg);
  -ms-transform: scaleX(1.5) rotate(45deg);
  -o-transform: scaleX(1.5) rotate(45deg);
  transform: scaleX(1.5) rotate(45deg);
  border-width: 2px 2px 0 0;
  border-color: black;
  border-style: solid;
  width: 15px;
  height: 15px;
  transition: all 1s;
}

/* line 198, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
form .boxA_Error {
  left: 30px;
  border-color: red;
  -webkit-transform: scaleX(1) rotate(45deg);
  -moz-transform: scaleX(1) rotate(45deg);
  -ms-transform: scaleX(1) rotate(45deg);
  -o-transform: scaleX(1) rotate(45deg);
  transform: scaleX(1) rotate(45deg);
}

/* line 203, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
form .boxB_Error {
  right: 10px;
  border-color: red;
  -webkit-transform: scaleX(1) rotate(45deg);
  -moz-transform: scaleX(1) rotate(45deg);
  -ms-transform: scaleX(1) rotate(45deg);
  -o-transform: scaleX(1) rotate(45deg);
  transform: scaleX(1) rotate(45deg);
}

/* line 208, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
form .boxA_Valid {
  animation: Valid_A;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* line 215, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
form .boxB_Valid {
  animation: Valid_B;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background: transparent;
}

/* line 223, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
form .boxC_Valid {
  background-color: white;
  animation: Valid_C;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes Valid_A {
  66% {
    left: 23px;
    border-width: 1px;
    -webkit-transform: scaleX(1.5) rotate(45deg);
    -moz-transform: scaleX(1.5) rotate(45deg);
    -ms-transform: scaleX(1.5) rotate(45deg);
    -o-transform: scaleX(1.5) rotate(45deg);
    transform: scaleX(1.5) rotate(45deg);
  }
  100% {
    left: 23px;
    border-width: 1px;
    -webkit-transform: scaleX(1) rotate(0deg) scale(1.1);
    -moz-transform: scaleX(1) rotate(0deg) scale(1.1);
    -ms-transform: scaleX(1) rotate(0deg) scale(1.1);
    -o-transform: scaleX(1) rotate(0deg) scale(1.1);
    transform: scaleX(1) rotate(0deg) scale(1.1);
  }
}

@keyframes Valid_B {
  66% {
    right: 3px;
    border-width: 0;
  }
  100% {
    right: 3px;
    border-width: 0;
  }
}

@keyframes Valid_C {
  0% {
    width: 4px;
  }
  33% {
    width: 4px;
    height: 2px;
  }
  66% {
    width: 4px;
    height: 8px;
  }
  100% {
    width: 4px;
    height: 8px;
    border-width: 0 1px 1px 0;
    border-color: green;
    border-style: solid;
    border-radius: 0 0 1.5px 0;
    margin: 4.5px 0;
    -webkit-transform: scale(3.8) scaleY(1.7) rotate(37deg);
    -moz-transform: scale(3.8) scaleY(1.7) rotate(37deg);
    -ms-transform: scale(3.8) scaleY(1.7) rotate(37deg);
    -o-transform: scale(3.8) scaleY(1.7) rotate(37deg);
    transform: scale(3.8) scaleY(1.7) rotate(37deg);
    background-color: transparent;
    position: relative;
    top: -20px;
    left: 17px;
    z-index: 100;
  }
}

/* line 284, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
#formNextButton,
div.contact-button-trigger,
.tip {
  display: none;
}

/*-----------------------------FORM LOGIC CHECK-BOXES-------------------------------*/
/* line 289, C:/Users/B-Rad/Documents/Websites/Portfolio v3 --current--/_scss/form-alt.scss */
[class^='validation-'] {
  display: none;
}

/*# sourceMappingURL=../_css/form-alt.map */