$icomoon-font-path: "fonts" !default;

$icon-creativecloud: "\e900";
$icon-AdobeAnimate-path1: "\e901";
$icon-AdobeAnimate-path2: "\e902";
$icon-AdobeAnimate-path3: "\e903";
$icon-AdobeAnimate-path4: "\e904";
$icon-AdobeAnimate-path5: "\e905";
$icon-AdobeDreamweaver-path1: "\e906";
$icon-AdobeDreamweaver-path2: "\e907";
$icon-AdobeDreamweaver-path3: "\e908";
$icon-AdobeFireworks-path1: "\e909";
$icon-AdobeFireworks-path2: "\e90a";
$icon-AdobeFlash-path1: "\e90b";
$icon-AdobeFlash-path2: "\e90c";
$icon-AdobeFlash-path3: "\e90d";
$icon-AdobeFlash-path4: "\e90e";
$icon-AdobeFlash-path5: "\e90f";
$icon-AdobeFlash-path6: "\e910";
$icon-AdobeIllustrator-path1: "\e911";
$icon-AdobeIllustrator-path2: "\e912";
$icon-AdobeIllustrator-path3: "\e913";
$icon-AdobeIllustrator-path4: "\e914";
$icon-AdobeIllustrator-path5: "\e915";
$icon-AdobePhotoshop-path1: "\e916";
$icon-AdobePhotoshop-path2: "\e917";
$icon-AdobePhotoshop-path3: "\e918";
$icon-microsoft-path1: "\e946";
$icon-microsoft-path2: "\e947";
$icon-microsoft-path3: "\e948";
$icon-microsoft-path4: "\e949";
$icon-microsoft_office_word: "\e94e";
$icon-microsoft_office_excel: "\e94b";
$icon-microsoft_office_power_point: "\e94d";
$icon-microsoft_office_access: "\e94a";
$icon-microsoft_office_outlook: "\e94c";
$icon-orienteering: "\e919";
$icon-gaming: "\e91a";
$icon-hiking: "\e91b";
$icon-eventproduction: "\e91c";
$icon-Social_linkedin: "\e91d";
$icon-Social_facebook: "\e91f";
$icon-Social_instagram: "\e920";
$icon-Social_share: "\e921";
$icon-windows8: "\e922";
$icon-apple: "\e923";
$icon-linux: "\e924";
$icon-svn: "\e91e";
$icon-file: "\e925";
$icon-user: "\e926";
$icon-wifi: "\e927";
$icon-animal: "\e928";
$icon-bios: "\e929";
$icon-multipledevices-path1: "\e92a";
$icon-multipledevices-path2: "\e92b";
$icon-multipledevices-path3: "\e92c";
$icon-multipledevices-path4: "\e92d";
$icon-multipledevices-path5: "\e92e";
$icon-mountain-path1: "\e92f";
$icon-mountain-path2: "\e930";
$icon-typeography: "\e931";
$icon-brush: "\e932";
$icon-sass: "\e933";
$icon-less: "\e934";
$icon-bootstrap-path1: "\e935";
$icon-bootstrap-path2: "\e936";
$icon-php: "\e93e";
$icon-javascript: "\e937";
$icon-jquery: "\e938";
$icon-ajax: "\e939";
$icon-angular-path1: "\e93a";
$icon-angular-path2: "\e93b";
$icon-angular-path3: "\e93c";
$icon-jqueryUI: "\e93d";
$icon-python: "\e945";
$icon-mysql-path1: "\e93f";
$icon-mysql-path2: "\e940";
$icon-mysql-path3: "\e941";
$icon-mysql-path4: "\e942";
$icon-mysql-path5: "\e943";
$icon-mysql-path6: "\e944";
$icon-mongoDB-path1: "\e950";
$icon-mongoDB-path2: "\e951";
$icon-mongoDB-path3: "\e952";
$icon-mongoDB-path4: "\e953";
$icon-mongoDB-path5: "\e954";
$icon-mongoDB-path6: "\e955";
$icon-mongoDB-path7: "\e956";
$icon-mongoDB-path8: "\e957";
$icon-postgreSQL-path1: "\e958";
$icon-postgreSQL-path2: "\e959";
$icon-postgreSQL-path3: "\e95a";
$icon-postgreSQL-path4: "\e95b";
$icon-postgreSQL-path5: "\e95c";
$icon-postgreSQL-path6: "\e95d";
$icon-postgreSQL-path7: "\e95e";
$icon-postgreSQL-path8: "\e95f";
$icon-postgreSQL-path9: "\e960";
$icon-postgreSQL-path10: "\e961";
$icon-postgreSQL-path11: "\e962";
$icon-Social_codepen: "\eae8";
$icon-Social_print: "\ea68";
$icon-versioncontrol: "\e963";
$icon-git: "\eab0";
$icon-steam: "\eaac";
$icon-terminal: "\ea81";
$icon-html5: "\eae4";
$icon-css3: "\eae6";
$icon-sql: "\e964";
$icon-dbms: "\e965";
$icon-IE: "\eadb";
$icon-edge: "\eadc";
$icon-firefox: "\eada";
$icon-chrome: "\ead9";
$icon-opera: "\eade";
$icon-safari: "\eadd";
$icon-operatingsystem: "\e94f";

