@import "_functions.scss";
@font-face {
    font-family: 'MainFont';
    src: url('../fonts/mainframe-bb.regular.ttf');
}

$colors: (
	"main"     : #19BAEE,
	"secondary": white,
	"text"     : black,
  "darkmain" : darken(#19BAEE, 20)
);
$fonts: (
	"main" : MainFont,
	"link" : 'Orbitron',
	"title": 'Titillium Web',
	"block": 'Raleway'
);
$zindex: (
	"deep"     :  -10,
	"default"  :    0,
	"upper"    :  100,
	"dropdown" : 1000,
	"lightbox" : 4000,
	"modal"    : 4001
);
$borderArrows: (
  "up"    : transparent transparent color(darkmain) transparent, 
  "right" : transparent transparent transparent color(darkmain),
  "down"  : color(darkmain) transparent transparent transparent,
  "left"  : transparent color(darkmain) transparent transparent
);

$cursor: pointer;