@import "_functions.scss";

@font-face {
    font-family: 'Mainframe';
    src: url('../fonts/mainframe-bb.regular.ttf') format('truetype');
}
$font-Mainframe: Mainframe;

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-v4020-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-v4020-RegularItalic.otf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-v4020-Bold.otf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-v4020-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}
$font-Raleway: Raleway;

@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

$colors: (
	"main"     : #19BAEE,
	"secondary": white,
	"text"     : black,
  "darkmain" : darken(#19BAEE, 20)
);
$fonts: (
	"main" : 'Mainframe',
	"link" : 'Orbitron',
	"title": 'Titillium Web',
	"block": 'Raleway'
);
$zindex: (
	"deep"     :  -10,
	"default"  :    0,
	"upper"    :  100,
	"dropdown" : 1000,
	"lightbox" : 4000,
	"modal"    : 4001
);
$borderArrows: (
  "up"    : transparent transparent color(darkmain) transparent, 
  "right" : transparent transparent transparent color(darkmain),
  "down"  : color(darkmain) transparent transparent transparent,
  "left"  : transparent color(darkmain) transparent transparent
);

$cursor: pointer;
