@import "_variables.scss";
@import "_functions.scss";
@import "_mixins.scss";

html {
  background-color: color(main);
  position: relative;
	a {
		color: color(darkmain);
		text-decoration: none;
		&:hover {cursor: $cursor;}
	}
}

body {
  z-index: z(deep);
	overflow-x: hidden;
  width: 90%;
	min-width: 310px;
  padding: 0;
  margin: 0 5%;
	
  border-style: outset;
	border-width: 0 2px;
	border-color: #ccc;

  box-shadow: 0px -10px 50px black;
  background-color: color(secondary);
  
  @media screen and (min-width: 2000px) {height: 100vh;}
  @media screen and (max-width: 1200px) {
    width: 100%;
		border: 0;
    margin: 0;
	}
  @media screen and (max-width:  550px) {width: 100vw;}
}

img {color:gray; font-size: 10px;} /*Image alt Text*/
input[type='submit'] span {color: white;}
.bracket {color: white;}
.portfolioGroup {display: block;}
.nopadding {padding: 0;}
.nomargin {margin: 0;}
.visible {visibility: visible;}
.notvisible {visibility: hidden;}
.printonly {display: none;}
.noscroll {overflow: hidden;}
.flip-vertical {@include prefix('transform', 'rotate(180deg)');}
.letterpress {@include letterpress('#000', '#FFF', '1px');}

i.valid   {color: rgba(0,255,0,0.4);}
i.invalid {color: rgba(255,0,0,0.4);}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 0 5px 5px 8px;
  transition: .5s ease;
  &_up   {@include prefix('transform', 'rotate(-136deg)');}
  &_down {@include prefix('transform', 'rotate(  45deg)');}
}

//------------------------------CLEAR FIXES----------------------------------------
div hr {
  clear: both;
  border-color: #414244;
}
.clearfix,
body,
header,
main,
article,
section,
footer {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

//---------------------------Customized Portfolio Scrollbar--------------------------
.scrollbar {
	&::-webkit-scrollbar-track	{
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		background-color: transparent;
		border-radius: 10px;
	}
	&::-webkit-scrollbar        {
		margin: 0 10px;
		width: 10px;
		border-radius: 10px;
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb	{
		border-radius: 10px;
		background-color: #0ae;
		background: -webkit-linear-gradient(left, color(main) 0%, #207cca 50%, color(main) 100%)
	}
}

#logoImg {
	max-width: 300px;
	width: 40%;
	margin: 28px 10px;
	cursor: pointer;
  
  @media screen and (max-width: 831px) {
    display: block;
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding-top: 15px;
  }
}

#loading {	
  //display: none;
  position: absolute;
  top: 0;
  margin: 0 auto;
  background-color: white;
  z-index: z(modal);
  width: 90%;
  height: 100%;
  text-align: center;
  cursor: progress;
  @media screen and (max-width: 1200px) {width: 100%;}
  
	#poof {
		animation: a-h .5s 1.25s 1 linear forwards, a-nt .6s 1.25s 1 cubic-bezier(0,0,.2,1);
		background: #eee;
		border-radius: 25%;
		height: 800px;
		left: 50%;
		margin: -415px -400px 0;
		position: absolute;
		top: 450px;
		transform: scale(0);
		width: 800px;
	}
  main {
    height: 100%;
    transition: all 1.5s ease-in;
  }
	#animation {
		animation: a-s 0.5s 0.5s 1 linear forwards, a-e 1.75s 0.5s 1 cubic-bezier(0, 0, 0.67, 1) forwards;
		opacity: 0;
		transform: scale(0.68);
    margin: 0 auto;
    background-color: white;
	}
  div.spacer {
    height: 450px;
    margin-bottom: -140px;
    transition: all 1.5s ease-in;
  }
	progress {
    width: 90%;
    margin: 30% auto;
    height: 2em;
    transition: all ease;

    border: none;
    @include prefix('appearance', 'none')

    &::-webkit-progress-bar {
      background-color: #eee;
      border-radius: 2px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }
    &::-moz-progress-bar {background: color(main);}
    &::-webkit-progress-value {background: color(main);}
    color: color(main);

    animation: a-s .5s 1.25s 1 forwards;
    margin: 10px auto 20px;
    opacity: 0;
    position: relative;
  }
  
	article {
		position: relative;
		display: inline-block;
		overflow: hidden;
		width: 120px;
		height: 250px;
    margin: 0 2px;
    & > * {pointer-events: none;}
	}
	
	article#left-bracket  {
		width: 100px;
		.black, .cover {
			height: 130px;
			width:  130px;
			
			overflow: hidden;
			
			position: absolute;
			top: 50%;
			
			
			transform-origin: top left;
			transform: rotate(-45deg);
		}
		.black {background-color: lightgray;}
		.cover {
			background-color: white;
			left: 15px;
		}
	}
	article#right-bracket {
		width: 100px;
		.black, .cover {
			height: 130px;
			width:  130px;
			
			overflow: hidden;
			
			position: absolute;
			top: 50%;
			right: 0;
			
			
			transform-origin: top right;
			transform: rotate(45deg);
		}
		.black {background-color: lightgray;}
		.cover {
			background-color: white;
			right: 15px;
		}
	}

	//Fill Animtion
	article#left-bracket section,
	article#right-bracket section {
		height: 0px;
		width:  0px;
		
		background-color: black;
		border-radius: 50%;
		
		position: absolute;		
		animation: a-gc 3s 1.5s 1 forwards;
	}
	article#left-bracket section  {
		top:  calc(50% - 120px);
		left: calc(50% - 120px);
	}
	article#right-bracket section {
		top:  calc(50% - 120px);
		right: calc(50% - 120px);
	}
	
	
	article#B {
		height: 190px;
		top: -30px;
		background-color: lightgrey;
    
		div {
			background-color: white;
			
			width:  50px;
			height: 50px;
			
			position: absolute;
			transform: rotate(45deg);
		}
		div:nth-of-type(1) {
			top:   -30px;
			right: -30px;
		}
		div:nth-of-type(2) {
			top:     35%;
			right: -45px;
		}
		div:nth-of-type(3) {
			bottom: -30px;
			right:  -30px;
		}
	}
	article#R {
		height: 190px;
		top: -30px;
		background-color: lightgrey;
		
		div {
			background-color: white;
			
			width:  50px;
			height: 50px;
			
			position: absolute;
			transform: rotate(45deg);
		}
		div:nth-of-type(1) {
			top:   -30px;
			right: -30px;
		}
		div:nth-of-type(2) {
			top:     35%;
			right: -45px;
		}
		div:nth-of-type(3) {
			transform: rotate(0deg);
			width:  35px;
			height: 62px;
			bottom:  0;
			left:  36%;
		}
		div:nth-of-type(4) {
			transform-origin: top left;
			height: 20px;
			width:  20px;
			
			top:   60%;
			left: 64px;
		}
		div:nth-of-type(5) {
			transform: rotate(0);
			height: 20px;
			width:  21px;
			
			top:  112.9px;
			left:    43px;
		}
	}
	
	//Fill Animtaion
	article#B section,
	article#R section {
		height: 300px;
		width: 600px;
		
		background-color: color(main);
		
		position: absolute;
		top:  0;
		left: 500px;
		
		transform-origin: left 50%;
		animation: a-grA 3s 1 ease forwards;
	}
	article#R section {animation-name: a-grB;}
  
  .msg {
    color: rgb(117, 117, 117);
    font-size: 20px;
    letter-spacing: .2px;
    line-height: 20px;
    text-align: center;

    animation: a-s .25s 1.25s 1 forwards;
    opacity: 0;
  }
}
#loading.translate {
  position: absolute;
  transition: background-color 1s ease;
  
  animation: a-fp 3s 1.5s 1 forwards;
  background-color: transparent;
  transform-origin: top left;
  
  progress {display: none;}
  .msg {display: none;}
  main {
    width:  465px;
    height: 250px;
    margin: 0 auto;
    article {cursor: pointer;}
  }
  .spacer {height: 0; margin-bottom: 0;}
  #left-bracket  {background-color: transparent;}
  #right-bracket {background-color: transparent;}
}

//Move to final position
@keyframes a-fp {
  10%  {
    height: 250px;
    transform: scale(.7);
  }
  100% {
    height: 250px;
    width : 500px;
    transform: scale(.7);
    
  }
}

//Fill-in Keyframes
@keyframes a-gc {
	100% {
		height: 240px;
		width:  240px;
	}
}
@keyframes a-grA {
	100% {transform: rotate(180deg);}
}
@keyframes a-grB {
	100% {transform: rotate(-180deg);}
}

//A-NT = Remove Transform Property
@keyframes a-nt {
	100% {transform: none;}
}
//-A-H = Fade Out
@keyframes a-h {
	100% {opacity: 0;}
}
//A-S = Fade In
@keyframes a-s {
	100% {opacity: 1;}
}
//A-E = Pop In
@keyframes a-e {
	43%  {
		animation-timing-function: cubic-bezier(.8,0,.2,1);
		transform: scale(.75);
	}
	60%  {
		animation-timing-function: cubic-bezier(.8,0,1,1);
		transform: translateY(-16px);
	}
	77%  {
		animation-timing-function: cubic-bezier(.16,0,.2,1);
		transform: none;
	}
	89%  {
		animation-timing-function: cubic-bezier(.8,0,1,1);
		transform: translateY(-5px);
	}
	100% {transform: none;}
}

header {height: 175px;}
nav {
	float: right;
  top: 5px;
  margin-right: 10px;
  
  @media screen and (max-width: 831px) {
    float: none;
    position: relative;
		text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  @media screen and (max-width: 550px) {
    text-align: center;
    float: none;
  }
  
  ul {margin-top: 10px; padding: 0;}
  li {
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
    text-align: center;
    
    a {
      display: block;
      position: relative;
      color: color(darkmain);
      text-decoration: none;
      font-size: 1.2em;
      font-weight: 500;
      letter-spacing: 2px;
      cursor: $cursor;
      i {@include prefix('transition', 'all 0.3s ease-out');}

      .nav-link {
        width: 75px;
        height: 30px;
        line-height: 30px;
        font-family: font(link);
        font-size: 1.1em;
        font-weight: 600;
        letter-spacing: 2px;
        
        @media screen and (max-width: 550px) {
          padding: 0;
          height: 36px;
          line-height: 36px;
          margin: 0 auto;
        }
      }
      span {
        display: block;
        position: relative;
        opacity: 0;

        width: 150%;
        bottom: 18px;

        margin-left: -25%;

        color: color(text);
        font-family: font(main);
        font-size: 9px;
        letter-spacing: 2px;

        @include prefix('transition', 'all 0.3s ease-out');
        @media screen and (max-width: 831px) {
          opacity: 1;
          bottom : 0;
        }
      }
      &:hover {
        i {opacity: 0;}
        & span {opacity: 1;}
        @media screen and (max-width: 831px) {
          i {opacity: 1;}
          & span {
            opacity: 1;
            text-decoration: underline;
          }
        }
      }
    }
    .active, a:hover {color:black;}
			
    //DD BUTTON "CODING"
    #dropdown {position: relative;}
    #dropdownContent {
			display: none;
      position: absolute;
			width: auto;
      margin-top: -1.6px;
			margin-left: -8px;
      color: color(darkmain);
			background-color: color(secondary);
      font-family: font(link);
			z-index: z(dropdown);
      
      @media screen and (max-width: 831px) {
		    width: 1300%;
		    left:  -600%;
		    padding-bottom: 1rem;
		    margin: 0 auto;
        margin-top: 2px;
      }
      
      a {
        @media screen and (max-width: 831px) {margin-top: 10px;}
      }
		}
  //END DROPDOWN AREA
  }
}

//HOMEPAGE
aside.portrait_img {
	position: relative;
  float: right;
  margin: 10px;
  
  @media screen and (max-width: 831px) {
    float: left;
    margin: 10px;
  }
  @media screen and (max-width: 550px) {
    float: none;
    text-align: center;
  }
  p {    
		font-family: font(block);
		text-align: right;
		font-size: 1.1em;
		float: left;
		width: 300px;
		bottom: 0;
		position: absolute;
		margin-left: -315px;
    
    @media screen and (max-width: 831px) {
      float: right;
      margin-left: 215px;
      text-align: left;
    }
    @media screen and (max-width: 550px) {
      border-top: 2px solid black; 
      text-align: center;
      font-size: 1em;
      float: none;
      position: relative;
      width: 100%;
      padding: 8px 0;
      margin: 0 auto;
    }
    
		strong {
      font-family: font(main);
      color: color(darkmain);
    }
  	span {
    	width: 500px;
    	font-style: italic;
    	font-size: 0.8em;
    	float: right;
      @media screen and (max-width: 831px) {float: left;}
      @media screen and (max-width: 550px) {
        float: none;
        margin: 0 auto;
      }
    }
		&:first-child {
      bottom: 50px;
      @media screen and (max-width: 550px) {bottom: 0;}
    }
  }
	img[class^='portrait_img'] {
    border: 2px black solid;
    filter: grayscale(100%);
    @media screen and (max-width: 831px) {
      display: inline-block;
      position: relative;
    }
    
    &[class$='-small'] {
      display: none;
      width: 200px;
      height: auto;
      @media screen and (max-width: 831px) {display: inline-block;}
      @media screen and (max-width: 550px) {
        position: relative;
        bottom: 0;
      }
    }
    &[class$='-large'] {
      width : 320px;
      height: 400px;
      @media screen and (max-width: 831px) {display: none;}
    }
  }
}

#homepageGet {
  font-family: font(main);
  font-size: 3em;
	margin: 120px auto 0;
	max-width: 1000px;
  @include prefix('transform', 'rotate(-20deg)');
  
  @media screen and (min-width: 2000px) {
    max-width: 1200px;
    font-size: 4em;
  }
  @media screen and (max-width: 831px) {
    position: relative;
    @include prefix('transform', 'rotate(20deg)');
    margin-top: 3em;
		padding: 0;
    width: 90%;
		left: 0;
  }
  @media screen and (max-width: 550px) {
    @include prefix('transform', 'rotate(0deg)');
    width: calc(100% - 50px);
    padding: 0 25px;
    font-size: 2em;
    margin-top: 0;
  }
}


/*-------------------------------------- CALL TO ACTIONS -----------------------------------------*/
.callToAction {
	text-align: center;
	width: 100%;
	height: 4rem;
	line-height: 4rem;
	
	margin: 4% 0;
	
	button {
		cursor: $cursor;
    
		display: inline-block;
		position: relative;
    overflow: hidden;
		font-family: font(main);
		
		outline: none !important;
		background: transparent;
		border: 2px solid color(main);
		text-decoration: none;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
		
		height: 50px;
		width: 250px;
		padding: 10px 25px;
		font-weight: 500;
		transition: all 0.3s ease;
		z-index: 1;
	}
}
/*=================================SHUTTER===================================*/
.callToAction.shutter button {
  &::before,
  &::after {
    content: '';
    position: absolute;
    top   : 0;
    right : 0;
    bottom: 0;
    left  : 0;

    height: 100%;
    width: 200%;

    z-index: -1;
    @include prefix('transform', 'translate3D(-50%,0,0) rotate(-50deg)');
    background: transparentize(color(main), .5);
    transform-origin: 0 bottom;
    transition: all .25s;
  }
  &::before {
    background: darken(color(main), .5);
    transition-delay: .25s;
    opacity: .4;
    z-index: -2;
  }
  
  &:hover {
    color: white;
    border-color: black;
  }
  &:hover::before,
  &:hover::after {@include prefix('transform', 'translate3D(-50%,0,0) rotate(0deg)');}
}
/*=================================UNDERLINE=================================*/
.callToAction.underline button {
  overflow: visible;
	&::before,
	&::after {
		position: absolute;
		content: ' ';
		z-index: -1;
		width: 10%;
		top  : 50%;
		height: 2px;
		background: color(main);
		transition: all 0.3s ease;
	}
	&::before {left: -10%;}
	&::after {right: -10%;}

	&:hover {font-size: 1.1rem;}
	&:hover::before,
	&:hover::after {
		width: 40%;
		top  : 75%;
	}
	&:hover::before {left: 10%;}
	&:hover::after {right: 10%;}
}
/*=================================CURTAIN===================================*/
.callToAction.curtain button {
	&::before,
	&::after {
		content: '';
		z-index: -1;
		
		position: absolute;
		top: 0;
		height: 100%;
		width :  50%;
		
		background: color(main);
		transition: all .5s ease;
	}
	&::before {left: -50%;}
	&::after {right: -50%;}

	&:hover {
		color: white;
		border-color: black;
	}
	&:hover::before {left: 50%;}
	&:hover::after {right: 50%;}
}
/*=================================SPIN======================================*/
.callToAction.spin button {
  &::before,
  &::after {
    content: '';
    position: absolute;
    top   : 0;
    right : 0;
    bottom: 0;
    left  : 0;

    height: 100%;
    width: 200%;

    z-index: -1;
    background: transparentize(color(main), .5);
    transform-origin: 0 bottom;
    transition: all .5s ease;
  }
  &::before {@include prefix('transform', 'translate3D(-75%,    0,0) rotate(-50deg)');}
  &::after  {@include prefix('transform', 'translate3D(125%,-100%,0) rotate( 50deg)');}
  
  &:hover {
    color: white;
    border-color: black;
  }
  &:hover::before {@include prefix('transform', 'translate3D(-75%,    0,0) rotate(  0deg)');}
  &:hover::after  {@include prefix('transform', 'translate3D(125%,-100%,0) rotate(180deg)');}
}
/*=================================CUT=======================================*/
.callToAction.cut button {
  color: white;
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    top   : 0;
    right : 0;
    bottom: 0;
    left  : 0;

    height: 110%;
    width: 200%;

    z-index: -1;
    background: transparentize(color(main), .2);
    
    transform-origin: 0 bottom;
    transition: all 2s ease;
  }
  &::before {@include prefix('transform', 'translate3D( -25%, -46%,0) rotate( 11deg)');}
  &::after  {@include prefix('transform', 'translate3D(  75%, -60%,0) rotate(191deg)');}
  
  &:hover {
    color: black;
    border-color: black;
  }
  &:hover::before {@include prefix('transform', 'translate3D(-75%,    0,0) rotate(-50deg)');}
  &:hover::after  {@include prefix('transform', 'translate3D(125%,-100%,0) rotate( 50deg)');}
}
/*=================================GROW======================================*/
.callToAction.grow button {
  overflow: visible;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  text-shadow: 2px 4px 3px transparentize(color(main), .4);
  border-color: black;
  
	&::before,
	&::after {
		position: absolute;
		content: ' ';
		z-index: -1;
		width: 10%;
		top  : 50%;
		height: 2px;
		background: black;
		transition: all .5s ease;
	}
	&::before {left: -10%;}
	&::after {right: -10%;}

	&:hover {
    font-size: .9rem;
    box-shadow: none;
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.7);
    border-color: color(darkmain);
    background-color: transparentize(color(main), .3);
    @include prefix('transform', 'scaleX(1.7) scaleY(1.5)');
  }
	&:hover::before,
	&:hover::after {
    @include prefix('transform', 'rotate(-90deg)');
    background: color(darkmain);
		width: 10%;
		top  : 50%;
	}
	&:hover::before {left: 5%;}
	&:hover::after {right: 5%;}
}
/*=================================BOUNCE====================================*/
.callToAction.bounce button {
	&::before,
	&::after {
		content: '';
		z-index: -1;
		
		position: absolute;
		top: 0;
		height: 100%;
		width :  50%;
		
		background: color(main);
		transition: all 2s cubic-bezier(.41,1.37,.02,-0.03);
	}
	&::before {left: -50%;}
	&::after {right: -50%;}

	&:hover {
		color: color(main);
		border-color: black;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	}
	&:hover::before {left: 150%;}
	&:hover::after {right: 150%;}
}
/*-------------------------------------- CALL TO ACTIONS -----------------------------------------*/



footer {
	display: block;
	position: relative;
	width: 100vw;
	left: -5.7%;
  bottom: -2px;
	text-align: right;
	@include value-prefix('background', 'linear-gradient('color(darkmain)' 70%, black)');
  
  @media screen and (min-width: 2000px) {bottom: 0;}
  @media screen and (max-width: 1200px) {
    left: 0;
		margin: 0;
		width: 100%;
  }
  @media screen and (max-width: 831px) {font-size: 15px;}
  
	div {
		&.bio {
			text-align: left;
			div {
				display: inline-block;
				position: relative;
				vertical-align: text-top;
				margin: 4px 0;
				font-family: font(block);
				color: #fff;
        @media screen and (max-width: 831px) {height: auto;}
        
        &.text {
          padding-left: 1rem;
          width: 30%;
          @media screen and (max-width: 831px) {
            display: block;
            margin: 0 auto;
            width: 90%;
            height: auto;
            padding: 1rem;
          }
        }
        &.stats {
          text-align: center;
          width: 65%;
          @media screen and (max-width: 831px) {
            width: 90%;
            margin: 0 auto;
            display: block;
          }
          
          div {
            width: 30%;
            padding: 2px 5px;
            @media screen and (max-width: 1200px) {max-width: 200px;}
            @media screen and (max-width: 831px) {
              width: auto;
              display: block;
              max-width: none;
              padding: 0;
              border-width: 0 2px;
              border-color: black;
              border-style: solid;
            }

            &:nth-of-type(2) {
              border-width: 0 2px;
              border-style: solid;
              border-color: color(text);
            }
            span {
              font-family: font(main);
              font-size: 5rem;
              @media screen and (max-width: 1200px) {font-size: 4rem;}
              @media screen and (max-width: 831px) {font-size: 4rem;}
              
              @include letterpress(white, rgba(color(main), 0.3), '3px');
            }
          }
        }
      }
		}
		
		&.sub {
			font-family: font(block);
			color: white;
			height: 2rem;
			line-height: 2rem;
      @media screen and (max-width: 831px) {padding-top: 1rem;}
      
			span {
				padding: 2px 5px;
				&.copywrite {
					position: absolute;
					left:   0;
          bottom: 0;
          font-family: font(link);
          letter-spacing: 1.5px;
          font-size: 0.7rem;
          @media screen and (max-width: 550px) {font-size: 0.5rem;}
				}
				&.compatibility {font-size: 1rem;}
			}
		}
	}
}

div.contactBar {
	text-align: right;
	height: 75px;
  @media screen and (max-width: 831px) {
		height: auto;
		text-align: center;
  }
    
	p.title {
		/*BRADLEY ROUNDS*/
		font-family: font(main);
		font-size: 44px;
		text-align: left;
    @media screen and (max-width: 831px) {
      font-size: 40px;
      text-align: center;
    }
	}
  
	div.desc {
		font-family: font(block);
		font-size: 15px;
		text-indent: 1rem;
		text-align: left;
    @media screen and (max-width: 831px) {
			text-indent: 0;
			text-align: center;
    }
    
		span {
      &:not(:last-of-type)::after {
        display: inline;
        content: ' - ';
		  }
      @media screen and (max-width: 831px) {
        display: block;
        text-align: center;
        &::after {content: '';}
        &:not(:last-of-type)::after {content: '';}
      }
    }
	}
  div.contactRight {
		font-family: font(block);
		vertical-align: middle;
		text-align: left;
		display: inline-block;
		width: 222px;
    padding: 0 10px 0 4px;
		margin: 0 11%;
		position: relative;
		top: -60px;
		background-color: white;
		border-left: 1px grey solid;
		border-right: 1px grey solid;
		
    @media screen and (max-width: 831px) {
			text-align: center;
			background-color: rgba(0, 0, 0, 0);
			margin: 0;
			margin-top: 15px;
			float: none;
			top: auto;
			border: 0;
			padding: 0;
    }
		p {
			display: inline;
			font-size: 15px;
			margin-right: 0;
		}
    div {
      @media screen and (max-width: 831px) {
		    display: inline-block;
		    border: 0;
		    padding: 0 5px 0 0;
      }
      @media screen and (max-width: 550px) {&::after {display: block;}}
    }
		section#socialMedia {
			margin: 5px 0;
			text-align: center;
      @media screen and (max-width: 831px) {margin: 15px 0 0 0;}
      
      a i {margin: 0 2.5px;}
			.shareTooltip {
				position: relative;
				display: inline-block;
        &:hover + .shareTooltipText {opacity: 1;}
			}
			.shareTooltipText {
        display: block;
				width: 175px;
        
				position: absolute;
				top: 102%;
				left: 50%;
        
				margin-left: -90px;
				border-radius: 6px;
				padding: 5px 0;
        
				opacity: 0;
				background-color: color(darkmain);
				color: white;
				text-align: center;
				z-index: z(default) + 1;
				transition: .5s opacity;
				
				&::after {
					content: "";
					position: absolute;
					bottom: 100%;
					margin-left: -5px;
					border-width: 5px;
					border-style: solid;
					border-color: borderarrow(up);
				}
					
        $leftAmt: 9% 25% 42% 58% 74% 91%;
				// loops through 6 times
				@for $i from 1 through length($leftAmt) {
					// for each child move the area
					&:nth-of-type(#{$i})::after {left: nth($leftAmt, $i);}
				}
			}
			
			#sharePopup {
				display: none;
				position: fixed;
				top : 0;
				left: 0;
				z-index: z(modal);
				
        //Include the dotted border on the screen
				height: calc(100% - 4px);
				width : calc(100% - 4px);
				
				border: 2px black dotted;
				background-color: rgba(0,0,0, 0.8);
				
        div {
          margin-top: 50px;
          @media screen and (max-width: 831px) {margin-top: 125px;}
        }
				a {
          display: inline-block;
          img {
				    width: 128px;
				    height: 128px;
            vertical-align: middle;
            margin: 2px;
          }
				}
				span.close {
					color: white;
					position: absolute;
					right: 25px;
					font-size: 8em;
          line-height: 80px;
					font-weight: 900;
					cursor: $cursor;
				}
			}
		}
	}
}

#resume {
	article {
		width: 56%;
		float: left;
		margin-left: 10px;
    @media screen and (max-width: 1200px) {
      float: none;
      width: 90%;
      padding-top: 10px;
    }
    @media screen and (max-width: 650px) {
			text-align: left;
			position: relative;
			top: auto;
    }
		
    h1 {
      &:first-child {margin-top: 0}
      &.collapsible {
        i {display: none;}	
        + div {display: block;}
        
        @media screen and (max-width: 550px) {
          cursor: $cursor;
          i {display: inline-block;}
          + div {display: none;}
          &:first-of-type {margin-top: 0;}
        }
      }
      @media screen and (max-width: 1200px) {margin-left: 40px;}
      @media screen and (max-width: 650px) {margin-left: 10px;}
      @media screen and (max-width: 550px) {
        padding: 5px;
        background-color: #cccccc;
        transition-delay: 1s;
        transition-timing-function: ease-in;
      }
    }
	}
	aside {
		position: relative;
		float: right;
		margin-right: 60px;
    
    @media screen and (max-width: 1200px) {
      display: block;
      float: none;
      margin: 0 auto;
      width: 81%;
      text-align: center;
      font-size: .9em;
    }
    div {@media screen and (max-width: 1200px) {display: inline-block;}}
	}
  
  div[id$="Section"] {
    @media screen and (max-width: 1200px) {margin-left: 60px;}
    @media screen and (max-width: 650px) {margin-left: 25px;}
  }

	#aboutSection {
		font-family: font(block);
    p {
      text-indent: 1em;
      font-size: .9em;
    }
  }
	#degreeSection {
		font-family: font(block);
    :not(span) {font-size: .9em;}
		transition: opacity 1s ease;
		span {
			&:first-child {
				font-weight: 900;
				color: black;
			}
			&:nth-child(2) {
				display:block;
				text-indent: 2em;
			}
		}
	}
	#workSection {
		:not(span) {font-size: .9em;}
		letter-spacing: 1px;
		font-family: font(block);
		transition: opacity 1s ease;
    @media screen and (max-width: 650px) {text-indent: 0;}
      
		p span {
			font-size: 1.1em;
			font-weight: 900;
			color: black;
      @media screen and (max-width: 650px) {
        &:first-child::after {
				  content: ' ';
				  display: block;
        }
      }
		}
		ul {padding: 0;}
		ul li {
			list-style-type: none;
			margin-left: 2em;
		}
		ul li span {
			text-decoration: underline;
			font-weight: 900;
		}
	}
	#achievementSection {
		font-family: font(block);
    font-size: .9em;
		transition: opacity 1s ease;
		ul {
      @media screen and (max-width: 650px) {margin-left: 0;}
      
      li {
        list-style-type: none;
        span {font-size: .8em;}
      }
		}
	}
  #certificationsSection {
    font-size: .9em;
    font-family: font(block);
    i.fa-caret-square-o-right {margin-right: 3px;}
    ul li span {text-decoration: underline;}
  }
	#skillSection {
		text-align: left;
	 	font-family: font(block);
	}
	#languagesSection {
		text-align: left;
	 	font-family: font(block);
		tbody:first-child td:nth-child(1) {width:  40px;}
		tbody:first-child td:nth-child(2) {width: 133px;}
		tr td:nth-of-type(3n) {
			width: 80px;
			text-align: center;
		}
	}
	#programSection {
		text-align: left;
		font-family: font(block);
		span:not(:first-child) {text-align: right;}
    tr td:nth-of-type(1) {text-align: left;}
		tr td:nth-of-type(3n) {
			width: 80px;
			text-align: center;
		}
	}
  #skillSection, #languagesSection, #programSection {
    margin-left: 0;
    h1 {
      line-height: 1em;
      border-bottom: 2px solid black;
    }
    tr {
      td:nth-of-type(1) {width:  40px;}
      td:nth-of-type(2) {
        width: 180px;
        font-weight: 700;
      }
      td:nth-of-type(3) {
        width: 74px;
        
        span {
          display: inline-block;
          width : 10px;
          height: 10px;

          vertical-align: middle;
          line-height: 0;

          border-color: color(darkmain);
          border-style: solid;
          border-width: 1px;
          border-radius: 3px;

          &.-o {background-color: white;}
          &.-c {background-color: color(darkmain);}
          &:not(:last-of-type) {margin-right: 1px;}
        }
      }
    }
    tr.indented {
      td:nth-of-type(1)::before {content: '\00a0\00a0\00a0\00a0'}
      td:nth-of-type(2) {
        font-size:    0.9rem;
        font-weight:  100;
        padding-left: 10px;
      }
    }
  }
	#hobbieSection {
		font-family: font(block);
    @media screen and (max-width: 650px) {margin-left: 10px;}
    
		div {
			display: inline-block;
			vertical-align: top;
			text-align: center;
      @media screen and (max-width: 650px) {
				margin: 0;
				margin-top: 15px;
      }
      
			h4 {
        text-align: center;
        margin: 5px 0;
        @media screen and (max-width: 650px) {width: 90px;}
      }
			div {
				font-size: 4rem;
				line-height: 2rem;
				margin: 0 10px;
        padding: 10px;
				display: inline-block;
				border: color(main) 4px double;
				border-radius: 10px;
        
        @media screen and (max-width: 650px) {
          margin: 0 auto;
          font-size: 3rem;
          line-height: 2rem;
        }
			}
		}
    @media screen and (max-width: 1200px) {text-align: center;}
	}
	#mapSection {
    ul {
      font-family: font(block);
      padding-left: 15px;
      li span {font-weight: 700;}
    }
		div {
      $width-height: 640;
      $zoom: 4;
			background-repeat: no-repeat;
			background-image: url("https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyAE0mz1ppVHe3gW0d0gIAEBWVz0A8RkZ1k&center=Kansas&zoom="+$zoom+"&format=png&size="+$width-height+"x"+$width-height+"&maptype=roadmap&markers=color:red|Boulder,CO&markers=color:green|Norfolk,VA&style=feature:administrative|element:geometry|lightness:30|weight:1.5&style=feature:administrative|element:labels|lightness:100|visibility:simplified&style=feature:administrative.land_parcel|element:labels|visibility:off&style=feature:administrative.locality|element:labels|visibility:simplified&style=feature:administrative.neighborhood|element:labels|visibility:off&style=feature:landscape|color:0x19baee&style=feature:landscape.man_made|saturation:-65&style=feature:poi|visibility:off&style=feature:poi|element:labels|visibility:off&style=feature:road|color:0xffffff|lightness:25|visibility:off&style=feature:road|element:labels.icon|visibility:off&style=feature:road|element:labels.text|visibility:simplified&style=feature:road|element:labels.text.stroke|visibility:off&style=feature:road.local|lightness:55&style=feature:road.local|element:labels|visibility:off&style=feature:transit|visibility:off&style=feature:water|lightness:-30|visibility:simplified&style=feature:water|element:labels.icon|visibility:off");
			width:  640px;
			height: 640px;
			
			margin: 20px auto;
			display: block;
			border: 2px solid black;
			position: relative;
      
      @media screen and (max-width: 831px) {
        $width-height: 440;
        $zoom: 4;
        background-image: url("https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyAE0mz1ppVHe3gW0d0gIAEBWVz0A8RkZ1k&center=Kansas&zoom="+$zoom+"&format=png&size="+$width-height+"x"+$width-height+"&maptype=roadmap&markers=color:red|Boulder,CO&markers=color:green|Norfolk,VA&style=feature:administrative|element:geometry|lightness:30|weight:1.5&style=feature:administrative|element:labels|lightness:100|visibility:simplified&style=feature:administrative.land_parcel|element:labels|visibility:off&style=feature:administrative.locality|element:labels|visibility:simplified&style=feature:administrative.neighborhood|element:labels|visibility:off&style=feature:landscape|color:0x19baee&style=feature:landscape.man_made|saturation:-65&style=feature:poi|visibility:off&style=feature:poi|element:labels|visibility:off&style=feature:road|color:0xffffff|lightness:25|visibility:off&style=feature:road|element:labels.icon|visibility:off&style=feature:road|element:labels.text|visibility:simplified&style=feature:road|element:labels.text.stroke|visibility:off&style=feature:road.local|lightness:55&style=feature:road.local|element:labels|visibility:off&style=feature:transit|visibility:off&style=feature:water|lightness:-30|visibility:simplified&style=feature:water|element:labels.icon|visibility:off");

        width:  $width-height + px;
        height: $width-height + px;
      }
      @media screen and (max-width: 550px) {
        $width-height: 300;
        $zoom: 3;
        background-image: url("https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyAE0mz1ppVHe3gW0d0gIAEBWVz0A8RkZ1k&center=Kansas&zoom="+$zoom+"&format=png&size="+$width-height+"x"+$width-height+"&maptype=roadmap&markers=color:red|Boulder,CO&markers=color:green|Norfolk,VA&style=feature:administrative|element:geometry|lightness:30|weight:1.5&style=feature:administrative|element:labels|lightness:100|visibility:simplified&style=feature:administrative.land_parcel|element:labels|visibility:off&style=feature:administrative.locality|element:labels|visibility:simplified&style=feature:administrative.neighborhood|element:labels|visibility:off&style=feature:landscape|color:0x19baee&style=feature:landscape.man_made|saturation:-65&style=feature:poi|visibility:off&style=feature:poi|element:labels|visibility:off&style=feature:road|color:0xffffff|lightness:25|visibility:off&style=feature:road|element:labels.icon|visibility:off&style=feature:road|element:labels.text|visibility:simplified&style=feature:road|element:labels.text.stroke|visibility:off&style=feature:road.local|lightness:55&style=feature:road.local|element:labels|visibility:off&style=feature:transit|visibility:off&style=feature:water|lightness:-30|visibility:simplified&style=feature:water|element:labels.icon|visibility:off");

        width : $width-height + px;
        height: $width-height + px;
      }
		}
    div.mapoverlay::before {
      position: absolute;
      content: '';
      top:  0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 0;

      background: radial-gradient(
        ellipse at center, 
        rgba(30,  87, 153, 0) 0%,
        rgba(27, 153, 210, 0) 67%,
        rgba(25, 186, 238, 1) 100%
      );
    }
	}
}

#gallery {
	position: relative;
	margin: 0 auto;
	width: 85%;
  @media screen and (max-width: 550px) {width: 95%;}
  
  p#page_desc {font-family: font(main);}
	h1 {
		font-size: 1.8em;
		letter-spacing: 1px;
		font-variant: small-caps;
		text-align: left;
		margin: 8px 0;
		padding-left: 50px;
		background: color(main);
    @include value-prefix('background', 'linear-gradient(right, 'color(main)', white)');
    @media screen and (max-width: 831px) {padding-left: 20px;}
	}
	article::before {
    //Fadeout on right end of bar
		content: '';
		display: block;
		position: absolute;
		float: right;
		right: 0;
		width: 40%;
		height: 260px;
		pointer-events: none;
		background: transparent;
    @include value-prefix('background', 'linear-gradient(left, transparent, white)');
    @media screen and (max-width: 831px) {display: none !important;}
	}
}


.iconImg {
  font-size: 1.5rem;
  margin-bottom: 5px;
  vertical-align: middle;
}
.title {
  font-variant: small-caps;
  font-weight: 900;
  font-size: 1.6em;
  font-family: font(title);
  margin-bottom: 0;
  padding-bottom: 0;
}
.subTitle {
  font-family: font(title);
  font-size: 1.2em;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  width: 100%;
}
.codingHeader {
	font-family: font(main);
	text-align: center;
	font-size: 44px;
	height: 50px;
	margin-top: -50px;
  @media screen and (max-width: 1200px) {&:first-of-type {margin-top: 0;}}
  @media screen and (max-width: 831px) {margin-top: 0;}
  @media screen and (max-width: 650px) {
    height: auto;
    margin: auto;
  }
}
.subtitle {
  font-size: 25px;
  font-family: font(title);
  color: #333;
  padding-left: 5px;
  margin-top: 10px;
}


/*------------------------------------------- LIGHTBOX ------------------------------------*/

// lightboxColorScheme //
$lightbox_background: white;
$lightbox_text: black;

.myLightbox { /* The lightbox (Main Container) */
  display: none;
  position: relative;
  
  background-color: $lightbox_background;
  border: 2px solid black;
	z-index: z(lightbox);
  
  @media screen and (max-width: 1200px) {
  	left: calc(100% - 96%);
		width: calc(100% - 8%);
  }
}
.lightbox_content { /* lightbox Content */
  position: relative;
	text-align: center;
  background-color: $lightbox_background;
  margin: 70px auto 30px;
  width: 90%;
  max-width: 1290px;
}
.lightbox_row {
  height: 277px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  @media screen and (max-width: 831px) {
    max-width: 490px;
    margin: 0 auto;
    height: auto;
    max-height: 277px;
  }
  
	> img {
		width: auto;
		height: 250px;
		border-width: 4px;
		border-style: solid;
		border-color: white;
    
    cursor: zoom-in;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    &:hover {@include prefix('animation', 'border 5s linear 1s infinite');}
	}
}
@keyframes border {
	0%   {border-color: white;}
	25%  {border-color: black;}
	50%  {border-color: cyan ;}
	75%  {border-color:	black;}
	100% {border-color: white;}
}

.lightbox_row-placeholder {
	width: 35%;
	height: 250px;
	display: inline-block;
	position: relative;
	background: transparent;
  @media screen and (max-width: 831px) {display: none;}
}
.lightbox_close {
  cursor: $cursor;
  /* The Close Button */
  color: $lightbox_text;
  position: absolute;
  top: 0;
	right: 20px;
  text-decoration: none;
  font-size: 4em;
  font-weight: 700;
}
.lightbox_close:hover,
.lightbox_close:focus {color: #999;}

.lightboxSlides {
  display: block;
  margin: 0 auto;
  max-width: 875px;
  width: auto;
  height: auto;
  > img,
	> object {
    max-width:100%;
    max-height:100%;
  }
}
[class*='-lightbox_previewImg'] {
  opacity: 0.6;
  height: 124px;
  padding: 4px;
}
.lightbox_prevBtn, .lightbox_nextBtn { 
  position: absolute;
  left: 0;
  top: 448px;
  padding: 14px;
  color: $lightbox_text;
  background-color: transparentize(color(main), .5);
  border: 1px solid $lightbox_background;
  border-left: 0;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.lightbox_nextBtn {
  right: 0;
	left: auto;
  border-left: 1px;
  border-right: 0;
  border-radius: 3px 0 0 3px; }
.lightbox_prevBtn:hover,
.lightbox_nextBtn:hover {
  background-color: $lightbox_background;
  border-color: black;
}

.lightbox_numbertext { /* Number text (1/3 etc) */
  position: absolute;
  top: -50px;
  left: 0;
  padding: 8px 12px;
  font-family: font(block);
  color: $lightbox_text;
  font-size: 1.1em;
  letter-spacing: -0.1em;
}
div.lightbox_captionContainer {
  font-family: font(main);
  color: $lightbox_text;
  padding: 2px 16px;
}
.lightbox_column {display: inline;}
p.lightbox_description {
  font-family: font(block);
  text-align: left;
  color: $lightbox_text;
  display: block;
  margin: 0 auto;
  padding-bottom: 5px;
  height: auto;
  width: 90%;
  max-width: 1290px;
  strong {
    font-family: font(main);
    font-variant: small-caps;
  }
}
.activelightbox,
[class$='-lightbox_previewImg']:hover {opacity: 1;}

#animation-controls {
  display: block;
  width: 100%;
  z-index: 5;
  text-align: center;
  
  a {font-size: 3em;}
  a:last-of-type {display: none;}
  div.grayout {
    display: block;
    z-index: 3;
    position: absolute;
    top : 0;
    left: 0;
    width : 100%;
    height: 70%;
    background-color: rgba(0,0,0,0.3);
  }
}

.code_box {
  background-color: ghostwhite;
  text-align: left;
  padding: 0 5px 5px;
  margin: 0;
	margin-top: 8px;
  height: 50em;
  overflow-y: scroll;
	font-size: .95em;
}

stringdata 		{color: green;}
commentdata 	{color: grey;}
functiondata 	{color: #900090;}
locationdata 	{color: darkorange;}
eventdata 		{color: darkcyan;}
booleandata 	{color: green;}
methoddata 		{color: #0055FF;}
variabledata 	{color: #0055FF;}
externaldata 	{color: darkorange;}
attrdata 			{color: darkorange;}
tagdata 			{color: #8A2C33;}
pythondata		{color: darkorange;}
pythoncomment {color: red;}

stringdata {
	commentdata,	functiondata,	locationdata,	eventdata,
	booleandata,	methoddata,	variabledata,	attrdata,
	tagdata,	pythondata,	pythoncomment {color: inherit;}
}
commentdata, pythoncomment {
	commentdata,	stringdata,	functiondata,	locationdata,
	eventdata,	booleandata,	methoddata,	variabledata,
	attrdata,	tagdata,	pythondata,	pythoncomment {color: inherit;}
}
attrdata {
	functiondata {color: inherit;}
}
variabledata {
	attrdata,	methoddata {color: inherit;}
}

.tab {
	text-align: left;
	width: 100%;
	display: block;
  @media screen and (max-width: 831px) {
    margin: 0 auto;
    float: none;
    text-align: center;
  }
	button {
		cursor: $cursor;
		vertical-align: middle;
		background-color: white;
		font-family: font(link);
		font-size: 1.22em;
		height: 50px;
		padding: 10px 14px;
		border: none;
		transition: 0.3s;
		
		&:hover {background-color: #ddd;}
		&.active {background-color: #ccc;}
	}
}

//Codebox title letterpress (Watermark effect)
main section div h1.title {
	margin: 0;
	margin-left: 50px;
	font-size: 4rem;
	
	position: absolute;
	right:  9%;
	top  : 45%;
	
  @include letterpress(#c8, rgba(ghostwhite, 0.7), '1px');
}
/*--------------------------------------FORM STYLE SWITCHER------------------------------------*/
#change-style {
  width: 100%;
  font-family: font(main);
  padding: .3em 0;
  position: fixed;
  bottom: -1px;
}

/*----------------------------------------------------------------------------------*/
@media screen and (max-width: 1200px) {
  
}
/*----------------------------------------------------------------------------------*/
@media screen and (max-width: 831px) {
  main div h1.title {display: none;}
}
/*----------------------------------------------------------------------------------*/
@media screen and (max-width: 650px) {
  
}
/*------------------------------------ MOBLE NAV -----------------------------------*/
@media screen and (max-width: 550px) {
  
}
/*----------------------------------------------------------------------------------*/
/*
(max-width: 1200px)
(max-width: 831px)
(max-width: 650px)
(max-width: 550px)
*/
